footer {
	height: 60px;
	background-color: $glp_light_green;
	display: flex;
	flex-direction: row;
	align-items: center;

	@media screen and (max-width: 500px) {
		height: 100px;
		flex-direction: column;
	}

	.footer-social-media {
		flex: 1;
		display: flex;
		color: $glp_white;
		margin-left: 70px;

		a {
			margin: 10px 10px;
			border: 2px solid $glp_white;
			height: 25px;
			width: 25px;
			display: flex;
			justify-content: center;
			align-items: center;
			padding: 5px;
			border-radius: 10px;

			&:hover {
				background-color: $glp_white;
				color: $glp_light_blue;
			}
		}

		@media screen and (max-width: 500px) {
			margin-left: 0px;
		}
	}

	.footer-personal-info {
		flex: 1;
		color: $glp_white;
	}
}
