@import "./color";

.logo_section {
	display: flex;
	height: 100px;
}

.logo {
	flex: 1;
	margin: 20px 20px 0px;
	position: relative;

	img {
		height: 80%;
		width: 80%;
	}

	&::after {
		content: "";
		border: 2px solid $glp_font_color;
		height: 80%;
		position: absolute;
		right: 0;
	}
}

.name {
	flex: 3;
	color: $black;
	font-size: 3em;
	align-items: center;
	display: flex;
}

nav {
	position: sticky;
	top: 0px;
	height: 60px;
	line-height: 60px;
	background-color: $glp_light_green;
	color: $glp_dark_green;

	ul {
		display: flex;
		list-style-type: none;
		text-decoration: none;
		font-size: 1.5em;
		align-items: center;
		justify-content: center;

		li {
			padding-right: 10px;

			&:not(:last-child)::after {
				padding-left: 10px;
				content: "";
				border-right: 1px solid $light_gray;
			}
		}
	}
}
