<footer>
    <ul class="social-media-links">
        <li><a href="https://www.facebook.com" target="_blank"><img src="assets/images/facebook.svg" alt="Facebook"></a></li>
        <li><a href="https://www.twitter.com" target="_blank"><img src="assets/images/twitter.svg" alt="Twitter"></a></li>
        <li><a href="https://www.instagram.com" target="_blank"><img src="assets/images/instagram.svg" alt="Instagram"></a></li>
        <li><a href="https://www.linkedin.com" target="_blank"><img src="assets/images/linkedin.svg" alt="LinkedIn"></a></li>
    </ul>
    <span class="email">Kontakt: <a class="email" href="mailto:info@tobias-gatschet.ch">info@tobias-gatschet.ch</a></span>
    <p>&copy; Tobias Gatschet</p>
</footer>