<footer>
  <div class="footer-inner">
    <div class="footer-col footer-col--brand">
      <div class="footer-brand">Tobias <span>Gatschet</span></div>
      <div class="footer-tagline">Energie · Politik · Einblicke<br>Schweiz</div>
      <ul class="social-media-links">
        <li>
          <a href="https://www.facebook.com/tobias.gatschet" target="_blank">
            <img src="/assets/images/facebook.svg" alt="Facebook" />
          </a>
        </li>
        <li>
          <a href="https://www.instagram.com/tobias_gatschet/" target="_blank">
            <img src="/assets/images/instagram.svg" alt="Instagram" />
          </a>
        </li>
        <li>
          <a href="https://www.linkedin.com/in/tobias-gatschet-396441198/" target="_blank">
            <img src="/assets/images/linkedin.svg" alt="LinkedIn" />
          </a>
        </li>
      </ul>
    </div>
    <div class="footer-col">
      <div class="footer-col-title">Navigation</div>
      <div class="footer-nav-links">
        <a href="/">Home</a>
        <a href="/blogs">Blog</a>
        <a href="/aboutme">Über mich</a>
        <a href="/contact">Kontakt</a>
      </div>
    </div>
  </div>
  <div class="footer-bottom">
    <span>© 2026 Tobias Gatschet · Alle Rechte vorbehalten</span>
    <a class="footer-email" href="mailto:info@tobias-gatschet.ch">info@tobias-gatschet.ch</a>
  </div>
  <div class="footer-bar"></div>
</footer>
