@import "reset.css";

body {
    background-color: #b4b4b4;
}

nav {
    background-color: #ffffff;
    height: 75px;
    display: flex;
    justify-content: end;
    flex-direction: row;
    align-items: center;
    position: sticky;
    top: 0;
}

nav ul{
    text-decoration: none;
    display: flex;
    justify-content: center;
    gap: 30px;
    margin-right: 30px;
}

nav ul li{
    list-style-type: none;
}

nav ul li a,
nav ul li a:visited{
    color: #6d6d6d;
    text-decoration: none;
    font-size: 1.3em;
}

nav ul li a:hover,
nav ul li a:active{
    color: #b60606;
}

footer {
    background-color: #ffffff;
    height: 75px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 0;
    width: 100%;
}

/* TODO: Wieder entfernen, resp Style für die Index definieren */
h1 {
    color: #000000;
    font-size: 2em;
    text-align: center;
    margin-top: 50px;
}