@import "reset.css";
@import "variables.css";

body {
    background-color: #b4b4b4;
}

nav {
    background-color: var(--header-footer-background-color);
    height: 75px;
    display: flex;
    justify-content: end;
    flex-direction: row;
    align-items: center;
    position: sticky;
    top: 0;
}

nav ul{
    text-decoration: none;
    display: flex;
    justify-content: center;
    gap: 30px;
    margin-right: 50px;
}

nav ul li{
    list-style-type: none;
}

nav ul li a,
nav ul li a:visited{
    color: #6d6d6d;
    text-decoration: none;
    font-size: 1.3em;
}

nav ul li a:hover,
nav ul li a:active{
    color: var(--highlight-color);
}

footer {
    background-color:  var(--header-footer-background-color);
    height: 75px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 0;
    width: 100%;
}

.burger-menu {
    display: none;
    font-size: 24px;
    cursor: pointer;
}

/* Mobile Styling */
@media (max-width: 768px) {
    .nav-links {
      display: none;
      flex-direction: column;
      width: 100%;
      text-align: center;
    }
  
    .nav-links li {
      margin: 10px 0;
    }

    nav {
        display: block;
    }

  
    .burger-menu {
      display: block;
      margin-right: 30px;
      position: absolute;
      right: 0;
      top: 50%;
      transform: translateY(-50%);
    }
  
    .nav-links.active {
      display: flex;
      flex-direction: column;
      width: 100%;
      width: 100vw;
      margin: 0;
      padding: 0;
      height: 100vh;
      text-align: center;
      background-color: var(--header-footer-background-color);
    }
  }